
.poster-placeholder {
  width: 100%;
  height: 250px;
  background: var(--ion-color-step-100);
  display: flex;
  align-items: center;
  justify-content: center;
  
  ion-icon {
    font-size: 3rem;
    color: var(--ion-color-medium);
  }
}

ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: var(--ion-color-medium);
  
  ion-icon {
    font-size: 4rem;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  
  p {
    font-size: 1.1rem;
  }
}

.meta-info {
  display: flex;              
  justify-content: space-between; 
  align-items: center;       
  margin-top: 0px;            
  font-size: 1rem;           
}

.rating-wrapper {
  display: flex;
  align-items: center;
  font-weight: bold;          
  color: var(--ion-color-warning);
  
  ion-icon {
    font-size: 1.1rem;       
    margin-right: 4px;        
    margin-bottom: 1px; 
  }
}

.type-icon {
  display: flex;
  align-items: center;
  
  ion-icon {
    font-size: 1.5rem;        
    color: var(--ion-color-medium);
  }
}

