/* Placeholder pro chybějící plakát */
.poster-placeholder {
  width: 100%;
  height: 250px; /* Přibližná výška plakátu */
  background: var(--ion-color-step-100);
  display: flex;
  align-items: center;
  justify-content: center;
  
  ion-icon {
    font-size: 3rem;
    color: var(--ion-color-medium);
  }
}

/* Karta */
ion-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Stavy "Nic nenalezeno" a "Hledej" */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Vycentrování na střed obrazovky */
  color: var(--ion-color-medium);
  
  ion-icon {
    font-size: 4rem;
    margin-bottom: 20px;
    opacity: 0.5;
  }
  
  p {
    font-size: 1.1rem;
  }
}