<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hledat</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      placeholder="Název filmu..." 
      animated="true"
      debounce="500"
      (ionInput)="onSearchChange($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isSearching" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isSearching && searchResults.length > 0">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of searchResults">
        <ion-card 
          button="true" 
          [routerLink]="['/detail', item.media_type === 'tv' ? 'tv' : 'movie', item.id]"
          routerDirection="forward"
        >
          <div class="poster-placeholder" *ngIf="!item.poster_path && !item.profile_path">
            <ion-icon name="image-outline"></ion-icon>
          </div>
          
          <img *ngIf="item.poster_path || item.profile_path" 
               [src]="imageBaseUrl + (item.poster_path || item.profile_path)" />

          <ion-card-header>
            <ion-card-subtitle class="meta-info">
              <span class="rating-wrapper">
                <ng-container *ngIf="item.vote_average">
                  <ion-icon name="star" color="warning"></ion-icon>
                  <span class="rating-text">{{ item.vote_average | number: '1.1-1' }}</span>
                </ng-container>
                <span *ngIf="!item.vote_average" class="no-rating">-</span>
              </span>

              <div class="type-icon">
                <ion-icon *ngIf="item.media_type === 'movie'" name="videocam"></ion-icon>
                <ion-icon *ngIf="item.media_type === 'tv'" name="tv"></ion-icon>
                <ion-icon *ngIf="item.media_type === 'person'" name="person"></ion-icon>
              </div>
            </ion-card-subtitle>
            <ion-card-title>{{ item.title || item.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="hasSearched && !isSearching && searchResults.length === 0" class="empty-state">
    <ion-icon name="sad" size="large"></ion-icon>
    <p>Nic jsme nenašli.</p>
  </div>

  <div *ngIf="!hasSearched" class="empty-state">
    <ion-icon name="search" size="large"></ion-icon>
    <p>Zadejte název filmu pro vyhledávání.</p>
  </div>

  <ion-infinite-scroll *ngIf="searchResults.length > 0" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Načítám další výsledky...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>