ion-card {
  margin: 5px;
  //box-shadow: none;
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
  border-radius: 12px; 
}

ion-card-header {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ion-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  line-clamp: initial;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

ion-card-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  display: flex; gap: 0.25rem; align-items: baseline;
  color: var(--ion-color-warning); 
}

ion-icon {
  font-size: 1rem;
}

/* Kontejner pro rozbalený obsah */
.filters-wrapper {
  background-color: var(--ion-color-light); /* Jemně odlišené pozadí */
}

/* Sekce tlačítek Nový/Spravovat */
.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--ion-color-medium-shade);
}

/* Seznam samotných filtrů */
.filter-list {
  display: flex;
  flex-wrap: wrap; /* TOTO je klíčové - čipy se zalamují na další řádek */
  gap: 5px;
}

/* Úprava accordion headeru, aby byl menší */
ion-accordion ion-item {
  --min-height: 48px;
  font-size: 0.9rem;
}

