ion-card {
  margin: 5px;
  //box-shadow: none;
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
  border-radius: 12px; 
}

/* obsah pod obrázkem */
ion-card-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

/*  karty mají stejnou výšku */
ion-col {
  display: flex;
}


.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--ion-color-medium-shade);
}

ion-card-subtitle.rating-badge {
  text-transform: none;     
  margin-bottom: 6px;        
  padding: 0;
}

/* Kontejner pro hvězdy a čísla */
.rating-row {
  display: flex;
  align-items: center;
}

/* Hodnocení z TMDB  */
.tmdb-score {
  margin-left: 4px;
  margin-right: 10px;      
   color: var(--ion-color-warning); 
  font-weight: 600;
  font-size: 0.9rem;
}

/* Moje hodnocení*/
.my-rating {
  color: var(--ion-color-tertiary);
  padding: 2px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
}

ion-card-title {
  white-space: normal;       
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--ion-text-color);
  margin-top: 2px;
}







